#container-div {
    display:flex;
    margin: 0 auto;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    
}
#game-board {
    border-style: solid;
    border-color: black;
}
#outputP {
    font-size: 22px;
    color: black;
    width: 150px;
    height: 150px;
    word-wrap: wrap auto;
}