#container-div {
    display:flex;
    margin: 0 auto;
    align-content: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#choose-div {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 3px;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 3px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    
}


#outputP {
    font-size: 22px;
    color: black;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    word-wrap: wrap auto;
}

.btn, btn-primary {
    color:black;
    height: 50px;
    background-color: #5c85d6;
}


